<html>
  <head>
    <title>Admin Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/home.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>System Login -- Select an Option Below to Login In</h1>
      	<form action="/user" method ="get" enctype="multipart/form-data">
			<button type = "submit">Login in as User </>
		</form>
		<form action="/adminlogin" method ="get" enctype="multipart/form-data">
			<button type = "submit">Login in as Admin </>
		</form>
    </div>
  </body>
</html>






