<html>
  <head>
    <title>Admin Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/adminlogin.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1> Add New Linux User Account </h1>
      <form action "." method="POST">
        <input type="text" name="uname" placeholder="Username">
        <input type="password" name="pass"placeholder="Password">
        <input type="submit" name="form" value="Create New User ">
      </form> 
  </body>
    </div>
  </body>
</html>

