<html>
  <head>
    <title>Admin Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/adminlogin.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1> Enter Username and Set Permissions </h1>
      <form action "." method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type = "radio" name ="lone" >Level 1  </input>
        <input type = "radio" name="ltwo" > Level 2 </input> 
        <input type = "radio" name="lthree" >Level 3 </input>
        <input type="submit" name="form" value="Set User Premission "></input>
      </form>
    </div>
  </body>
</html>

